.input {
	width: 100%;
	padding: 14px;
	margin: 10px 0;
	border: 1px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.15);
	color: #1a1a1a;
	outline: none;
	transition: all 0.3s ease-in-out;
	border: #1a1a1a 1px solid;
}

.input:focus {
	background: rgba(255, 255, 255, 0.25);
	border: #bbb 1px solid;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.input::placeholder {
	color: #1a1a1ab3;
}
