.data-table td:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

th,
td {
	@apply whitespace-nowrap text-center border border-[#1a1a1a] rounded-[5px];
}

th {
	@apply p-[12px] text-[16px] text-left;
}
td {
	@apply p-[12px] text-[14px] text-[#333] bg-[#fff];
}

.data-table tbody tr {
	transition: background 0.3s;
}

.data-table tbody tr:nth-child(even) {
	background: #f8f8f8;
}

.data-table tbody tr:hover {
	background: #f0f0f0;
}

tr {
	@apply table-row;
}

.data-table td:last-child {
	text-align: center;
}

.delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-btn {
	padding: 10px 20px;
	margin: 10px;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
	border: none;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
	background-color: #c0392b;
	transform: scale(1.1);
}

li {
	@apply p-[10px] border-b border-b-[##ffffff1a] cursor-pointer transition-all duration-200 ease-in-out border z-20;
}

li:last-child {
	border-bottom: none;
	z-index: 20;
}

@keyframes zoomIn {
	from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.dashboard-container {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.data-table {
		width: 100%;
		margin-top: 20px;
		padding: 10px;
		overflow-x: auto;
		font-size: 14px;
	}

	.search-input {
		width: 80%;
		padding: 10px;
		font-size: 14px;
		left: 10%;
		max-width: 300px;
	}
}

@media screen and (max-width: 480px) {
	.dashboard-container {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.data-table {
		width: 100%;
		padding: 5px;
		font-size: 12px;
	}

	.search-input {
		width: 90%;
		font-size: 12px;
		left: 5%;
		padding: 8px;
	}
}

@media screen and (max-width: 320px) {
	.dashboard-container {
		height: 100vh;
		width: 100%;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
	}

	.data-table {
		width: 90%;
		padding: 4px;
		font-size: 9px;
		overflow-x: auto;
		margin-top: 65px;
	}

	.search-input {
		width: 230px;
		font-size: 14px;
		padding: 12px 0 12px 12px;
		left: 5%;
	}

	.search-container {
		display: flex;
		align-items: center;
		position: fixed;
		top: 13px;
		left: 85%;
		width: auto;
		gap: 10px;
		z-index: 1001;
	}
}
